extends layout

block content
  if name
    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
        ul(class='nav navbar-nav')
          li
            a(href='/')
              h1 Sk
                span i
                | Bay
          li
            a(href='/profile') #{name}'s Account
          li  
            a(href='/product/new') Sell 
          li
            a(href='/logout') Logout    
          li
            a(href='/user/new') Sign Up
  div(class='indexlist')
    if products  
        div.row
          table(class='table table-hover')
            thead
              th Image
              th Name
              th Categories
              th Size
              th Desription
            tbody
            each val in products
              tr
                td
                  img(src=val.image_path alt='pic' height='50' width='50')
                td
                  a(href='/show/'+ val._id)=  val.name 
                td= val.categoryNames
                td= val.size
                td= val.description
  footer
    if !name
      p ® Vontei : SkiShop
    if name
      p Hey #{name}


    
