extends layout

block content
  if name
    h2 Welcome #{name}
    p
      a(href='/profile') Profile
    p  
      a(href='/product/new') NEW UP
    p  
      a(href='/logout') Logout    
    p  
      a(href='/user/new') Sign Up
  if !name
    div 
      form(action='/login' method='post')
        label User name
        input(type='text' name='user_name')
        label password
        input(type='password' name='password')
        input(type='submit' value='Login')

  h1 SkiBay
  h4 Items for Sale:
  div.navbar
    ul
      li 
        a(href='/atomic') Atomic
      li
        a(href='/blizzard') Blizzard


  if products  
    each val in products
      h3
          a(href='/show/'+ val._id)= val.brand_id + " " + val.name
      ul
        li
          img(src=val.image_path alt='pic')
        li= val.size
        li= val.description

//you can only new up if you are logged in
  
