extends layout

block content
  if name
    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
        h2.welcome Welcome to SkiBay #{name}
        ul(class='nav navbar-nav')
          li
            a(href='/profile') Profile
          li  
            a(href='/product/new') Sell 
          li
            a(href='/logout') Logout    
          li
            a(href='/user/new') Sign Up
    h4 Sort By:
    div(class='navbar navbar-inverse' id='categorybar')
      div.container
        ul(class='nav navbar-nav')
          li 
            a(href='/atomic') Atomic
          li
            a(href='/blizzard') Blizzard
  if !name
    form.form-inline(action='/login' method='post' id='login')
      div.form-group
        label User_Name
        input.form-control(type='text' name='user_name')
      div.form-group
        label Password 
        input.form-control(type='password' name='password')
        input.form-control(type='submit' value='Login' class='btn btn-default')
    h1 SkiBay
  
  div(id='indexlist')
  if products  
      div.row
        table(class='table table-hover')
          thead
            th Name
            th Categories
            th Size
            th Desription
            th Image
          tbody
          each val in products
            tr
              td
                a(href='/show/'+ val._id)=  val.name
              td= val.category_id
              td= val.size
              td= val.description
              td
                img(src=val.image_path alt='pic' height='50' width='50')
        

  
