extends layout

block content

  div.padd
    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
      
        
        //- h2.welcome Welcome to SkiBay #{name}
        ul(class='nav navbar-nav')
          li
            h1 Sk
              span i
              | Bay
          li
            a(href='/') Home 
          li
            a(href='/profile') Profile
          li  
            a(href='/product/new') Sell 
          li
            a(href='/logout') Logout    
          li
            a(href='/user/new') Sign Up
          li
            a(href='/product/directory') Directory


    h1 Hey #{user.user_name}
      
    div.row
      h3 You have  #{info.length} items for sale:
      table(class='table table-hover')
        thead
          th Name
          th Offers
          th Description
          th Size 
          th Image
        tbody
        each val in info
          tr
            td
              a(href='/show/'+val._id)= val.name
            td= val.offers
            td= val.description
            td= val.size
            td
              img(src=val.image_path alt='pic' height='50' width='50')

    footer
      if !name
        p ® Vontei : SkiShop
      if name
        p Hey #{name}
