extends layout

block content

  div.padd
    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
        ul(class='nav navbar-nav')
          li
            a(href='/')
              h1 Sk
                span i
                | Bay
            
          li  
            a(href='/product/new') Sell 
          li
            a(href='/logout') Logout    
          li
            a(href='/user/new') Sign Up
          li
            a(href='/product/directory') Directory
    h1 Seller: #{user.user_name}
    h4 Items for sale:
    div.row
    each val in info
      div.col-lg-4.clearfix
        a(href='/show/' + val._id ,class="thumbnail" )
          img(src=val.image_path alt=val.name)
        div.caption.clearfix
          h3= val.name
          p= val.size
          p.desc= val.description

      
  
