extends layout

block content

  h1
    a(href='/') Home
  div.row
    table(class='table table-hover' id='showOffer')
      thead
        th Name
        th Description
        th Size 
        th Seller
        th Image
      tbody
        tr
          td= product.name
          td= product.description
          td= product.size
          td= seller.user_name
          td
            img(src=product.image_path alt='pic' height='100' width='100')

  if !update
    form(action='/offer' method='post')
      div.form-group(id='offer')
        label Bid
        input.form-control(type='number' name='bid')
        input.form-control(type='submit' value='Make Offer')
  
  if update
    p
      a(href='/update/' + product._id) Update
    p
      a(href='/delete/' + product._id) Delete

///if the req.session.user === seller.. then you can updata
