extends layout

block content
  div.padd
    div.row

    div.jumbotron
      img(src=product.image_path alt='pic' height='300' width='300')
    div.tile
      div.product-block
        p Name: #{product.name}
        p Size: #{product.size}
    div.tile
      div.description
        p Description:
        p#desc= product.description
    div.tile
      div.seller-block
        p Seller: 
          a(href='/seller/'+ seller._id) #{seller.user_name}
      
        


    if !update
      if session
        form(action='/offer/'+mainid , method='post')
          div.tile
            div.bid-group(id='offer')
              label Bid
              input.bid(type='number' name='bid' id='bidblock')
              input.bid(type='submit' value='Submit Bid')
      
    if update
      if session
        p
          a(href='/update/' + product._id) Update
        p
          a(href='/delete/' + product._id) Delete
      if !session
        p
///if the req.session.user === seller.. then you can updata
